<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- IIS URL Rewrite for Node.js -->
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:8080/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <!-- WebSocket support -->
    <webSocket enabled="true" />

    <!-- Node.js application settings -->
    <iisnode>
      <env name="NODE_ENV" value="production" />
      <env name="PORT" value="8080" />
    </iisnode>

    <!-- Static files caching -->
    <staticContent>
      <clientCache cacheControlMode="UseExpires" httpExpires="Sun, 29 Mar 2020 00:00:00 GMT" />
    </staticContent>

    <!-- Handler for Node.js -->
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Compression -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </staticTypes>
    </httpCompression>

    <!-- HTTP response headers -->
    <httpProtocol>
      <customHeaders>
        <add name="X-Powered-By" value="ChainReach AI" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
